name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run tests
        run: go test ./...

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run integration tests
        run: go test -tags=integration -v ./...

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: mateuszkurowski/contacts-service:latest