name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  vulncheck:
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25
          go-package: ./...
          repo-checkout: true
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run tests
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.out
          if-no-files-found: error

  tests:
    needs: test
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v6
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
      - name: Security Scan
        uses: securego/gosec@master
        with:
          args: ./...
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: true
          verbose: true

  sonar_qube:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  integration-test:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run integration tests
        run: go test -tags=integration -v ./...

  build:
    needs: [lint, vulncheck, tests, sonar_qube, integration-test]
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v -o contacts-service
      - uses: actions/upload-artifact@v5
        with:
          name: "contacts-service"
          path: "contacts-service"
          if-no-files-found: error
          retention-days: 30
          overwrite: true
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: mateuszkurowski/contacts-service:latest
