name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mateusz-kurowski/contacts-service
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/contacts-service
        with:
          go-version: "1.25"
          cache-dependency-path: go.sum

      - name: Run tests
        run: go test ./...

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/contacts-service
      - name: Run integration tests
        run: go test -tags=integration -v ./...

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/contacts-service      
      - name: Build
        run: go build .