name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

  vulncheck:
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25
          go-package: ./...
  sonar_qube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run tests
        run: go test ./...

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Run integration tests
        run: go test -tags=integration -v ./...

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: mateusz-kurowski/setup-go-env-action-composite@main
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v -o contacts-service
      - uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          name: "contacts-service"
          # A file, directory or wildcard pattern that describes what to upload
          path: "contacts-service"
          if-no-files-found: error
          retention-days: 30
          overwrite: true
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: mateuszkurowski/contacts-service:latest
